<details>
    <summary>How does this tool work?</summary>

    <h3>How does this tool work?</h3>
    <ol>
        <li>Read the description of the assignment carefully.</li>
        <li>
            Implement a RISC-V assembler program that solves the assignment.
            <br/>
            <strong>Hint:</strong> You can use the <a href="https://github.com/mortbopet/Ripes">RISC-V simulator Ripes</a> to test and debug your code. By the way, did you know that this tool also uses Ripes to check your submissions?
        </li>
        <li>When you think you're done, save your code to a file and upload it below.</li>
        <li>this tool will check your submission. After a few seconds, you will receive a test report.</li>
    </ol>
</details>
