/*material oceanic my beloved*/
body {
    background-color: #283237;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #c0c9dd;
    margin: 0;
    height: 100vh;
    text-align: center;
    margin: 10px;
}

h1 {
    color: #c2e699;
    font-weight: bold;
    font-size: 30px;
}

a {
    color: #bf92e3;
}

.judge {
    color: #f4a286;
}