<!DOCTYPE html>
<html>
<head>
    <title>Login - Jay's Bank</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <div id="messageBox" class="message-box" style="display:none;"></div>
        <form id="loginForm">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Sign up here</a>.</p>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>
