<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Posts</title>
    <link rel="stylesheet" href="/styles/style.css">
    <% if (language == "russian") { %>
        <link rel="stylesheet" href="/styles/russian.css">
    <% } else if(language == "english") { %>
        <link rel="stylesheet" href="/styles/english.css">
    <% } else if(language == "chinese") { %>
        <link rel="stylesheet" href="/styles/chinese.css">
    <% } %>   
</head>
<body>
    <header>
        <h1>My Secrets</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2><%= user.username %>'s Posts</h2>

        <% if (posts.length > 0) { %>
            <form action="/posts/search" method="get">
                <input type="text" name="searchTerm" placeholder="Search...">
                <input type="submit" value="Search">
            </form>
            <ul>
                <% posts.forEach(post => { %>
                    <li class="post">
                        <h3><%= post.title %></h3>
                        <p><%= post.content %></p>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No posts available.</p>
        <% } %>
    </main>

    <footer>
        &copy; 2023 My Secrets
        <div class="language-selector">
            <a href="/setLanguage?lang=russian"><img src="/images/russian-flag.png" alt="Russian" width="24px"></a>
            <a href="/setLanguage?lang=english"><img src="/images/english-flag.png" alt="English" width="24px"></a>
            <a href="/setLanguage?lang=chinese"><img src="/images/chinese-flag.png" alt="Chinese" width="24px"></a>
        </div>
        
    </footer>
</body>
</html>
