.episode-panel {
	.edit-link {
		color: #E6E6E6;
		text-decoration: underline;
		margin-left: 8px;
	}

	.description {
		margin-bottom: 16px;
	}

	.report {
		margin-bottom: 16px;
	}

	.add-to-playlist-button {
		margin-bottom: 16px;
	}

	.rating {
		margin-bottom: 16px;
	}

	.video {
		width: 100%;
	}
}