<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <h1>login</h1>
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="login">
    </form>
    <br>
    <div id="err"></div>
    <br>
    <a href="/register">or register</a>
    <br>
    <script>
        document.getElementById("err").innerHTML = new URLSearchParams(window.location.search).get("e");
    </script>
</body>

</html>
