<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/style.css">
        <title>The Gerald Catalog</title>
    </head>
    <body class="mdc-typography">
        <div class="marketing">
            <h1>The Gerald Catalog</h1>
            <p>Too many Geralds in this CTF? Start organizing them today with our fully secure, dynamic, legally-compliant Gerald organizer!
                You'll be amazed at the vast array of features we have to offer in this simple catalog. Or catalogue, if you prefer.
            </p>
            <a class="mdc-button mdc-button--raised" href="/geralds">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Get Started Today</span>
            </a>
        </div>
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <script src="/script.js"></script>
    </body>
</html>