@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
body {
  font-family: 'Roboto Slab', serif;
  background-color: #F4EBD0;
  color: #122620;
  text-align: center;
}
.title {
  font-size: 40pt;
  padding-top: 20px;
}
a {
  color: goldenrod;
}