
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
body {
  font-family: 'Anonymous Pro', serif;
  background-color: black;
  color: lightgreen;
  text-align: center
}
.title {
  font-size: 40pt;
  padding-top: 20px;
}
a {
  color: #B77B82;
}