body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#randomImage {
    display: block;
    margin: 0 auto;
    width: 500px; 
    height: 500px; 
    object-fit: cover;
    border: 1px solid #ccc;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
