@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
body {
	font-family: "Inconsolata";
}
.mt_150{
	margin-top: 70px;
}
.mt_50{
	margin-top: 50px;
	margin-bottom: 100px;
}
.cat_float{
	height: 400px;
	width: 400px;
}