<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>safelist</title>
  <link rel="stylesheet" href="/css/marx.css">
</head>
<body>
  <main>
    <h1>🔒 safelist</h1>
    <hr />

    <h4>Your list:</h4>
    <div id="list"></div>
    <hr />

    <h4>Create a new entry:</h4>
    <form method="POST" action="/create" id="create">
      <input type="text" name="text" />
      <br />
      <input type="submit" value="create" />
    </form>
    <a href="/submit">Report bugs here</a>
  </main>

  <script nonce="{{nonce}}" src="/js/purify.js"></script>
  <script nonce="{{nonce}}">
    const $ = document.querySelector.bind(document); // imagine using jQuery...
    const entries = JSON.parse(decodeURIComponent("{{list}}"));
    
    entries.forEach((entry, i) => {
      let blockquote = document.createElement("blockquote");
      blockquote.appendChild(Object.assign(document.createElement("div"), { innerHTML: DOMPurify.sanitize(entry) }));
      blockquote.appendChild(document.createElement("br"));
      let form = Object.assign(document.createElement("form"), { method: "POST", action: "/remove" });
      form.appendChild(Object.assign(document.createElement("input"), { type: "hidden", name: "index", value: i }));
      form.appendChild(Object.assign(document.createElement("input"), { type: "submit", value: "delete" }));
      blockquote.appendChild(form);
      $("#list").appendChild(blockquote);
    });
  </script>
</body>
</html>