extends layout

block content
  .row.justify-content-center
    .col-6
      .card
        .card-body
          h5.card-title Register
          form(action="/auth/register" method="POST" enctype="application/json")
            .mb-3
              label.form-label(for="username") Username:
              input.form-control(type="text" name="username")

            .mb-3
              label.form-label(for="password") Password:
              input.form-control(type="text" name="password")

            .mb-3
              button.btn.btn-primary.ms-auto(type="submit") Register 

