html,
body {
	height: 100%;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
.form-signin {
	width: 100%;
	max-width: 330px;
	margin: auto;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input#inputEmail {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	border-radius: 0;
	margin-bottom: -1px;
}
.form-signin input#inputPasswordMFA {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


.bd-placeholder-img
{
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px)
{
	.bd-placeholder-img-lg
	{
		font-size: 3.5rem;
	}
}


@keyframes rotation {
	0% {
		transform: rotateY(0deg);
	}
	40% {
		transform: rotateY(360deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

img#spin-img
{
	animation: rotation 8s infinite ease-in-out;
	animation-delay: 1s;
}