@font-face {
    font-family: 'yahoo';
    src: url('../../fonts/Yahoo.ttf') format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}

.main {
    display: grid;
    grid-template:
        "header" max-content
        "body" minmax(1px, 1fr) /
        1fr;
    min-height: 100vh;
    justify-items: center;

    .page {
        max-width: 600px;
        width: 100%;
        height: 100%;
    }
}
