<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ministry of transportation - survey</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    .intro {
      max-width: 400px;
      margin: 0 auto;
      padding-top: 40px;
    }
  </style>
</head>
<body>

  <!-- Bootstrap Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Survey - MoT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/roadqualsurvey">Road Quality</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pollutionsurvey">Pollution</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="intro">
  <section class="container">
    <h2>Welcome to Road Survey</h2>
    <p>
      We are conducting a survey to gather valuable information about the condition of roads in your area.
      Your input will help us improve traffic management, road quality, and environmental conditions.
    </p>
    <p>
      Please participate in our survey by providing your feedback in the respective sections:
      <a href="/roadqualsurvey">Road Quality</a>, and
      <a href="/pollutionsurvey">Pollution</a>.
    </p>
  </section></div>
  

  <!-- Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  

</body>
</html>
