<html>
	<head>
		<title>Classic...</title>
	</head>
	<body>
		<form method="POST" action="/report">
			<h2>Ohhhh i love notes</h2>
			URL: <input name="url" placeholder="http://..." value="<%- url %>" ><br><br>
			<input type="submit">
			<br>
		</form>
	</body>
</html>