<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imgurbage | Error</title>
</head>
<body style="margin: 0;">
	<div style="padding: 20px 50px 20px 50px;background-color: #909090;"><p style="color: white;font-size: 60px;">ERROR</p></div>
	<br>
	<p style="font-size: 50px"><%- message %></p>
<br>
<button onclick="window.location.href='/view'"><img src="https://cdn-icons-png.flaticon.com/512/263/263085.png" width="100px"></button>
</body>
</html>