<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imgurbage | register</title>
</head>
<body style="margin: 0;">

	<div style="padding: 20px 50px 20px 50px;background-color: #909090;"><p style="color: white;font-size: 60px;">Imgurbage Register</p></div>
	<div id="images">
<form action="/register" method="POST" style="margin-top:50px;margin-left: 50px;">
	<input type="text" name="username" placeholder="username">
	<br><br>
	<input type="text" name="nickname" placeholder="nickname">
	<br><br>
	<input type="text" name="decade" placeholder="decade">
	<br><br>
	<input type="password" name="password" placeholder="password">
	<br><br>
	<input type="submit" value="Submit">
</form>
<br>
<a href='/'>Login</a>
</body>
</html>