<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imgurbage | my images</title>
	<script><%- include('md5.js') %></script>
	<script><%- include('user.js') %></script>
	<script>var serverUser = JSON.parse(atob("<%- user %>"));</script>
	<script>var user = new User(serverUser.username,serverUser.nickname,serverUser.images,serverUser.decade);</script>

	<style>
		.display {
		    background: #FFF;
		    height: 370px;
		    width: 300px;
		    font-size: 14px;
		    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 14%), 0 6px 2px -4px rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 12%);
		    margin: 25px 30px;
		    text-align: center;
		    clear: all;
		    float: left;
		    border-radius: 0.25em;
		    border: 0.5rem;
		    border-color: #6272a4;
		    padding-top: 12px;
		}

		.displayImage {
		    z-index: -1;
		    max-width: 90%;
		    max-height: 234px;
		    transition: all 1s;
		}

		.displayText {
		    width: 300px;
		    height: 103px;
		    background-color: #343a40;
		    color: white;
		    border-bottom-right-radius: 0.25em;
		    border-bottom-left-radius: 0.25em;
		    font-weight: 540;
		    font-size: 18px;
		    padding-top: 33px;
		    z-index: 1;
		}
	</style>

</head>
<body style="margin: 0;">

	<div style="padding: 20px 50px 20px 50px;background-color: #909090;"><p style="color: white;font-size: 60px;">My Images</p></div>
	<div id="images">

	</div>

<br>
	<button style="margin-right: 20px;" onclick="window.location.href='/new'"><img src="https://static.thenounproject.com/png/261370-200.png" width="100px" ></botton>
	<button onclick="window.location.href='/addfriend'"><img src="https://static.thenounproject.com/png/680051-200.png" width="100px"></botton>
	<button onclick="window.location.href='/combineform'"><img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/002/537/original/friends.png" width="100px"></button>
	<div style="background-color: pink"><p style="font-size: 20px;" id="decade"></p></div>

<script>
		for(owner in user["images"]) {
			for(image in user["images"][owner]) {
				var url = user["images"][owner][image][0];
				var description = user["images"][owner][image][1];

				var div = document.createElement("div");
				div.setAttribute('class','display');
				var aele = document.createElement("a");
				aele.setAttribute('class','displayImage');
				aele.setAttribute('href',url);
				var img = document.createElement("img");
				img.setAttribute("src",url);
				img.setAttribute("class","displayImage");
				aele.appendChild(img);
				div.appendChild(aele);
				var ndiv = document.createElement("div");
				ndiv.setAttribute("class","displayText");
				ndiv.innerText = description;
				div.appendChild(ndiv);

				document.getElementById("images").appendChild(div);

			}
		}
	
		// Customizable!
		document.getElementById("decade").innerHTML = user.decade;

	</script>
</body>
</html>