<!DOCTYPE html>
<html>
<head>
<title>Pardon our dust</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<img src="/images/pardon.webp"></img>
<p>Pardon our dust</p>
<p>We're working to make this site better! Come back later for an amazing Area51 experience!</p>

<marquee><h1>Thank you for understanding!</h1></marquee>

</body>