<!DOCTYPE html>
<html>
<head>
<title>Area51 Luxury Services</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block">Home</a>
    </div>
    <div class="w3-col s3">
      <a href="#plans" class="w3-button w3-block">Plans</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block">About</a>
    </div>
    <div class="w3-col s3">
      <a href="#contact" class="w3-button w3-block">Contact</a>
    </div>
  </div>
</div>

<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <h1><b>Area51 Raid Luxury Consultation Services</b></h1>
  </div>

  <!-- Slideshow -->
  <div class="w3-container">
    <div class="w3-display-container mySlides">
      <img src="https://www.w3schools.com/w3images/coffee.jpg" style="width:100%">
      <div class="w3-display-topleft w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Delcious Intergalactic Coffee</span>
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="https://www.w3schools.com/w3images/workbench.jpg" style="width:100%">
      <div class="w3-display-middle w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">Beautiful Extraterrestrial Space Workbench</span>
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="https://www.w3schools.com/w3images/sound.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32">
        <span class="w3-white w3-padding-large w3-animate-bottom">the govement is lying to us</span>
      </div>
    </div>

    <!-- Slideshow next/previous buttons -->
    <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
      <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
      <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
    
      <div class="w3-center">
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      </div>
    </div>
  </div>
  
  <!-- Grid -->
  <div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
      <h3>Planning</h3>
      <p>We plan every minute of your Area51 raid. From the breakfast to the weapons you'll use to kill those aliens, we've got you covered.</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <h3>Branding</h3>
      <p>We'll take care of Instagram, Facebook, X, and even LinkedIn posts about your expeirence.</p>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
      <h3>Consultation</h3>
      <p>A real person (human) will be there to help you plan every step of the way.</p>
    </div>

    <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
      <h3>Luxury</h3>
      <p>During your trip, best in class drives, first class flights, and the best of Nevada cuisine will be available to you</p>
    </div>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-64">
      <h3>Pricing Plans</h3>
      <p>Choose a pricing plan that fits your needs.</p>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Earthdweller</li>
        <li class="w3-padding-16"><b>Indirect</b> Flight</li>
        <li class="w3-padding-16"><b>2</b> Nights</li>
        <li class="w3-padding-16"><b>Uber</b> Taxi Service</li>
        <li class="w3-padding-16"><b>Guaranteed</b> Aliens</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 10</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-green w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Alien</li>
        <li class="w3-padding-16"><b>Direct</b> Flight</li>
        <li class="w3-padding-16"><b>4</b> Nights (4-star hotel)</li>
        <li class="w3-padding-16"><b>Private</b> Taxi Service</li>
        <li class="w3-padding-16"><b>Guaranteed</b> Aliens</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-green w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Intergalactic</li>
        <li class="w3-padding-16"><b>First Class</b> Flight</li>
        <li class="w3-padding-16"><b>5</b> Nights (5-star hotel, free breakfast)</li>
        <li class="w3-padding-16"><b>UFO</b> Taxi Service</li>
        <li class="w3-padding-16"><b>Guaranteed</b> Aliens (take one home)</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 50</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-green w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="https://www.w3schools.com/w3images/team1.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Jane Doe</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="https://www.w3schools.com/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Mike Ross</h3>
          <p class="w3-opacity">Chief Alien Investigator</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="https://www.w3schools.com/w3images/team3.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p class="w3-opacity">Accountant</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-center w3-padding-64" id="contact">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Log In</span>
  </div>

  <form class="w3-container" id="login">
    <div class="w3-section">
      <label>Username</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="username" required>
    </div>
    <div class="w3-section">
      <label>Password</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="password" required>
    </div>
    
    <button type="submit" class="w3-button w3-block w3-black">Log in</button>
  </form>

  <p id="response"></p>

</div>

<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <h4>Footer</h4>
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/defaufsdklfgdfgllt.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<!--
I want to start by saying that I don't believe in promoting baseless conspiracy theories,
regardless of one's political affiliation. It's essential to approach any topic with a critical
and evidence-based mindset.

Ladies and gentlemen, there's something brewing in the shadows of our government that should
send shivers down your spine. I love this country, but I'm also a
concerned citizen who can't ignore the mounting evidence of a massive government conspiracy.

You've all heard of Area 51, that enigmatic military base in the Nevada desert. We've been told
it's just a testing ground for experimental aircraft, a place where the government keeps its secrets.
But what if those secrets go far beyond advanced technology? What if they involve something truly extraterrestrial?

I'm not saying little green men are walking among us, but the evidence is there, if you look closely
enough. Reports of strange lights in the sky, encounters with unidentified flying objects, and the
testimonies of whistleblowers who've risked it all to reveal the truth. It all points to one terrifying possibility:
the United States government is performing secret experiments on aliens.

Why, you might ask? Well, it's not about little green men; it's about power. They're reverse-engineering alien
technology to build weapons of unimaginable destruction. It's a silent arms race, and we, the American people,
are kept in the dark while our government gambles with our future.

Think about it. Why is it that any attempt to access Area 51 is met with lethal force? What are they hiding in
there that's so important? And why is it that when we demand answers, we're met with a wall of silence and disinformation?

This isn't a partisan issue; it's a matter of national security and the integrity of our democracy. We must demand
transparency from our government, regardless of our political beliefs. It's time for us to come together and uncover the
truth that's been hidden from us for far too long.

Remember, I am a proud American who believes in the power of the people to hold
their government accountable. The truth is out there, my friends, and it's high time we bring it into the light.
-->

<script src="/js/submit.js" type="text/javascript"></script>
<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
