<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>Give the content</h1>

  <form action="/report" method="post">
    <label for="title">Title: </label>
    <input type="text" name="title" required><br>
    <label for="note">Note: </label>
    <textarea name="note" rows="4" cols="50" required></textarea><br>
    <button type="submit">Report</button>
  </form>
  </body>
  </html>
  