<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>leetmail | error</title>
	<%- include('style') %>
</head>
<body>
<h1>Error</h1>
<p><%= error %></p>
</body>
</html>