@mixin track(){
    width: $track-width;
    height: $track-height;
    cursor: pointer;
    animate: 0.2s;
  }
  
  @mixin thumb(){
    height: $thumb-height;
    width: $thumb-width;
    border-radius: $thumb-radius;
    background: $thumb-color;
    cursor: pointer;
  }