<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
		<link rel="stylesheet" href="/simple.css" />
	</head>
	<body>
		<header>
			<h1>Home Page</h1>
			<%- include('nav') %>
		</header>
		<main>
			<% if (!username) { %>
			<p>You are not logged in.</p>
			<% } else { %>
			<p>View your profile <a href="/profile">here</a>.</p>
			<% } %>
		</main>
	</body>
</html>
