<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="/simple.css" />
		<script src="/json-form.js"></script>
	</head>
	<body>
		<header>
			<h1>Login</h1>
			<%- include('nav') %>
		</header>
		<main>
			<form is="json-form" method="POST" data-success="/profile">
				<p>
					<label for="username">Username</label>
					<input name="username" />
				</p>
				<p>
					<label for="password">Password</label>
					<input name="password" type="password" />
				</p>
				<p>
					<button>Login</button>
				</p>
			</form>
		</main>
	</body>
</html>
