<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complainer</title>

    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <nav>
        <a href="/">Complainer</a>
        <a href="/logout" style="float: right;">Logout</a>
        <a href="/profile" style="float: right;">Profile</a>
    </nav>

    <form class="main">
        <textarea name="body" id="body" cols="30" rows="10" placeholder="I am really angry about..."></textarea>
        <button type="submit">Complain</button>
    </form>

    <script src="/static/index.js"></script>
</body>

</html>
