<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageName %>
    </title>

    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <nav>
        <a href="/">Complainer</a>
    </nav>

    <form class="main">
        <input type="text" name="username" id="username">
        <input type="password" name="password" id="password">
        <button type="submit">
            <%= pageName %>
        </button>

        <div>
            <a href="/login">Login</a>
            ·
            <a href="/register">Register</a>
        </div>
    </form>

    <script src="/static/login.js"></script>
</body>

</html>
