.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h1 {
    text-align: center;
}
.center > p {
    text-align: center;
}
body {
    position: relative;
    background-color: #f4b42c;
}
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;

}