<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>obligatory-calc</title>
    <link rel="stylesheet" href="/css/water.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>obligatory-calc</h1>
    <hr />

    <iframe src="/calc" id="calc"></iframe>

    <h2>enter expression:</h2>
    <form id="form">
      <input type="text" placeholder="expression" name="expr" />
      <input type="submit" value="calculate" />
    </form>

    <h2>results:</h2>
    <ul id="results">
      {{#each results}}
      <li>{{{this}}}</li>
      {{/each}}
    </ul>
    <button id="clear">clear</button>

    <h4>found a bug? report it <a href="/submit">here</a>!</h4>

    <script>
      const send = (expr) => {
        window.calc.contentWindow.postMessage({ expr }, window.origin);
      };

      const getCookie = (name) => {
        const parts = `; ${document.cookie}`.split(`; ${name}=`);
        return parts.pop().split(';').shift();
      };

      window.onload = () => {
        window.onmessage = (e) => {
          if (e.source == window.calc.contentWindow && e.data.token == window.token) {
            let results = [ e.data.result, ...[...window.results.children].map(li => li.innerHTML) ];
            window.results.replaceChildren(
              ...results.map(h => Object.assign(document.createElement('li'), { innerHTML: h }))
            );
            document.cookie = "__Host-results=" + encodeURIComponent(JSON.stringify(results)) + "; secure; path=/";
          }
        };

        window.calc = document.getElementById("calc");
        window.results = document.getElementById("results");
        window.calc.contentWindow.postMessage({ token: window.token }, location.origin);

        let params = new URLSearchParams(location.search);
        if (params.has("expr")) {
          send(params.get("expr"));
        }

        document.getElementById("form").addEventListener("submit", (e) => {
          e.preventDefault();
          send(new FormData(e.target).get("expr"));
        });

        document.getElementById("clear").addEventListener("click", () => {
          document.cookie = "__Host-results=[]; secure; path=/";
          location.href = "/";
        });
      };

      window.token = getCookie("__Host-token") || [...crypto.getRandomValues(new Uint8Array(32))].map(v=>(v%0xFF).toString(16)).join("");
    </script>
  </body>
</html>