<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imgurbage | View Friend</title>
</head>
<body style="margin: 0;">
	<div style="padding: 20px 50px 20px 50px;background-color: #909090;"><p style="color: white;font-size: 60px;">View Friend</p></div>
	<br>
<form action="/combine" method="GET" style="margin-left: 50px">
	<input type="text" name="friendname" placeholder="friend username">
	<input type="text" name="friendpassword" placeholder="friend password">
	<br><br>
	<input type="submit" value="Add Friend">
</form>
<br>
<button onclick="window.location.href='/view'"><img src="https://cdn-icons-png.flaticon.com/512/263/263085.png" width="100px"></button>
</body>
</html>