<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
		<link
			href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
			rel="stylesheet"
			type="text/css" />
		<link
			href="/notifyplus/plugin/notifyplus.css"
			rel="stylesheet"
			type="text/css" />
		<script defer src="/notifyplus/plugin/notifyplus.js"></script>
		<style>
			canvas {
				border: 1px solid #d3d3d3;
				background-color: #f1f1f1;
			}
		</style>
		<title>dont be alarmed, just play the game man</title>
	</head>
	<body>
		<div class="hero">
			<div class="hero-body">
				<h1 class="title"></h1>
				<div>
					<a class="button is-link" href="/">back</a>
					<hr />
					Score <%= score.id %> by <%= score.nickname %>
				</div>
			</div>
		</div>
		<form method="post" action="/report/<%= score.id %>">
			<input type="submit" value="Click here to report" class="button" />
		</form>
		<div class="notifyplus-container" id="notifyplus-container"></div>
	</body>
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const {score, nickname, id} = <%- JSON.stringify(score) -%>;
			NotifyPlus.addNotify(`You scored ${score} points!`, 'info', 3);
		});
	</script>
</html>
