extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 Scratchpad
      p.lead Welcome to a simple scratchpad!
      p Report any bugs you find. Best reports will be rewarded.
