<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<%-  include('partials/headers', {title: 'Bookmarker'}); %>
</head>
<body>
    <div class="container vh-100">
        <div class="row toppadding">
<%- body %>
        </div>
    </div>
</body>
</html>