<html>
    <head>
        <title>Online Library - Insert</title>
    </head>
    <body>
        <h1>Insert</h1>
        You can insert a book that you want, But it's still under development though...
        <hr />
        <form method="POST" action="/insert">
            <input type="text" name="title" placeholder="Example title" style="width: 300px;"/>
            <br/>
            <textarea name="content" placeholder="Example content" style="width: 300px; height: 250px;"></textarea>
            <br/>
            <input type="submit" value="Insert"/>
        </form>
    </body>
</html>