<!DOCTYPE html>
<html>

<body>
    <h1>Profile</h1>
    <br>
    <a href='/research'>Conduct Research</a>
    <%- profile %>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p style="display: none;"><%- (flag) ? flag : 'L + no flag' %></p>
</body>

</html>