<!DOCTYPE html>
<html>

<body>
    <h1>Research</h1>
    <p>Unpaid labourers now doing intense research....</p>
    <p>You may view the result soon using this link: <a href="/result" target="_blank" rel="noopener noreferrer">result</a></p>
    <br>
</body>

</html>