<form style="width: 40%; margin-left: 30%" id="edit-form">
    <h1 class="h3 mb-3 fw-normal">Edit note #{{noteId}}</h1>
    <br/>

    <div class="form-floating">
        <textarea type="text" class="form-control" id="edit-contents" style="height: 200px" maxlength="200">{{contents}}</textarea>
      <label for="edit-contents">note contents</label>
    </div>
    <br/>

    <input id="edit-submit" class="w-100 btn btn-lg btn-primary" type="submit" noteId="{{noteId}}" value="Edit!">

    <br/>
    <br/>
    <div id="response" class="text-center small py-1" style="border-radius: 4px; display: none"></div>
</form>

<script>
    document.getElementById('edit-form').onsubmit = async (e) => {
        e.preventDefault()

        document.getElementById('edit-submit').disabled = true
        document.getElementById('edit-submit').style.cursor = 'not-allowed'
        document.getElementById('edit-submit').style.opacity = 0.8
        document.getElementById('edit-submit').value = 'Editing note...'

        const contents = document.getElementById('edit-contents').value

        if(!contents || contents.length > 200) {
            document.getElementById('response').innerText = 'Invalid contents!'
            document.getElementById('response').classList.add('text-bg-danger')
            document.getElementById('response').style.display = 'block'
        } else {
            const noteId = document.getElementById('edit-submit').getAttribute('noteId')
            const r = await fetch(`/edit?noteId=${noteId}`, {
                method: 'POST',
                body: JSON.stringify({ contents }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            const res = await r.json()

            if(res.success) {
                document.getElementById('response').innerText = res.message + ' Redirecting...'
                document.getElementById('response').classList.remove('text-bg-danger')
                document.getElementById('response').classList.add('text-bg-success')
                document.getElementById('response').style.display = 'block'
                window.location.href = '/'
                return                
            } else {
                document.getElementById('response').innerText = res.error
                document.getElementById('response').classList.add('text-bg-danger')
                document.getElementById('response').style.display = 'block'
            }
        }

        document.getElementById('edit-submit').disabled = false
        document.getElementById('edit-submit').style.cursor = 'pointer'
        document.getElementById('edit-submit').style.opacity = 1
        document.getElementById('edit-submit').value = 'Edit!'
    }
</script>
