<% content_for :content do %>
  <div class="row center">
      <h5><i>I see you love cats as well!</i></h5>
  </div>
    <div class="row center">
        <label for="flag" class="black-text">Flag</label>
        <p class="black-text" name="flag">
            <%= @FLAG %>
        </p>
    </div>

<% end %>