$transition-duration: 0.4s;
$transition-timing: cubic-bezier(0.140, 0.885, 0.410, 1.000);

.emergency-button-panel {
	&.hidden {
		.background {
			background-color: rgba(0, 0, 0, 0);
		}

		.panel {
			top: 100%;
			transform: translate(-50%, 0px);
		}
	}

	.background {
		background-color: rgba(0, 0, 0, 0.6);
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		transition: background-color $transition-duration $transition-timing;
	}

	.panel {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 640px;
		height: 640px;
		background: url("/assets/emergency-button-panel.png");
		background-position: center;
		background-size: cover;
		transform: translate(-50%, -50%);
		padding: 12px;
		transition: top $transition-duration $transition-timing, transform $transition-duration $transition-timing;

		.close {
			width: 60px;
			height: 60px;
			background: url("/assets/close-button.png");
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 0px;
			left: -80px;
			opacity: 0.5;
			border: 0px;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}

		.button {
			position: absolute;
			top: 280px;
			left: 230px;
			width: 182px;
			height: 170px;
			background: url("/assets/emergency-button-panel-button.png");
			background-position: center;
			background-size: cover;
			cursor: pointer;
		}

		.message {
			font-family: hydrophilia-iced, monospace;
			color: #efefef;
			text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
			font-size: 16px;
			position: absolute;
			left: 215px;
			top: 324px;
			z-index: 2;
			line-height: 1.6;
		}
	}
}
