$transition-duration: 0.4s;
$transition-timing: cubic-bezier(0.140, 0.885, 0.410, 1.000);

.file-transfer-panel {
	font-family: effra, sans-serif;

	&.hidden {
		.background {
			background-color: rgba(0, 0, 0, 0);
		}

		.panel {
			top: 100%;
			transform: translate(-50%, 0px);
		}
	}

	.background {
		background-color: rgba(0, 0, 0, 0.6);
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		transition: background-color $transition-duration $transition-timing;
	}

	.panel {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		height: 400px;
		background: url("/assets/file-transfer-panel.png");
		background-position: center;
		background-size: cover;
		transform: translate(-50%, -50%);
		padding: 12px;
		transition: top $transition-duration $transition-timing, transform $transition-duration $transition-timing;

		.transfer-details {
			position: absolute;
			left: 60px;
			right: 60px;
			top: 60px;
			height: 220px;
			display: grid;
			grid-template:
				"folder-from folder-to" max-content
				"name-from   name-to  " 24px
				"progress    progress " max-content
				/ 1fr 1fr;
			gap: 12px;

			.folder {
				width: 150px;
				height: 100px;
				background-position: center;
				background-size: cover;
				justify-self: center;
			}

			.name {
				width: 100%;
				height: 100%;

				text {
					stroke: #000000;
					stroke-width: 3px;
					fill: #ffffff;
					paint-order: stroke fill;
					text-anchor: middle;
				}
			}

			.transfer-from {
				display: contents;

				.folder {
					grid-area: folder-from;
					background-image: url("/assets/folder-open.png");
				}

				.name {
					grid-area: name-from;
				}
			}

			.transfer-to {
				display: contents;

				.folder {
					grid-area: folder-to;
					background-image: url("/assets/folder-closed.png");
				}

				.name {
					grid-area: name-to;
				}
			}

			.progress-container {
				grid-area: progress;
				margin-top: 12px;
				margin-left: 40px;
				display: flex;

				.progress-bar {
					border: 4px solid #141414;
					border-radius: 4px;
					width: 100%;
					height: 24px;
					background-color: #ffffff;
					flex-basis: 0px;
					flex-grow: 1;

					.progress-completed {
						background-color: #00944f;
						height: 100%;
						transition: width 50ms ease-in-out;
					}
				}

				.progress-text {
					width: 60px;
					text-align: center;
					height: 24px;

					text {
						stroke: #000000;
						stroke-width: 3px;
						fill: #ffffff;
						paint-order: stroke fill;
						text-anchor: middle;
					}
				}
			}
		}

		.close {
			width: 60px;
			height: 60px;
			background: url("/assets/close-button.png");
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 0px;
			left: -80px;
			opacity: 0.5;
			border: 0px;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
