$transition-duration: 0.4s;
$transition-timing: cubic-bezier(0.140, 0.885, 0.410, 1.000);

.provide-credentials-panel {
	&.hidden {
		.background {
			background-color: rgba(0, 0, 0, 0);
		}

		.panel {
			top: 100%;
			transform: translate(-50%, 0px);
		}
	}

	.background {
		background-color: rgba(0, 0, 0, 0.6);
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		transition: background-color $transition-duration $transition-timing;
	}

	.panel {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 400px;
		height: 300px;
		background: url("/assets/login-screen.png");
		background-position: center;
		background-size: cover;
		transform: translate(-50%, -50%);
		padding: 12px;
		transition: top $transition-duration $transition-timing, transform $transition-duration $transition-timing;

		.post-it {
			user-select: none;
			position: absolute;
			top: 0px;
			left: 100%;
			width: 243px;
			height: 270px;
			padding-left: 20px;
			background: url("/assets/post-it.png");
			background-position: center;
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			flex-direction: column;
			font-family: skippy-sharp, sans-serif;
			color: #18130f;
		}

		.input {
			border: none;
			height: 30px;
			width: 250px;
			padding: 0px 8px;
			outline: none;
			background: transparent;
			font-family: effra, sans-serif;
		}

		.username {
			position: absolute;
			top: 90px;
			left: 104px;
		}

		.password {
			position: absolute;
			top: 134px;
			left: 104px;
		}

		.login {
			width: 100px;
			height: 50px;
			background: url("/assets/login-button-up.png");
			background-position: center;
			background-size: cover;
			border: none;
			cursor: pointer;
			position: absolute;
			right: 42px;
			bottom: 80px;

			&:hover {
				background-image: url("/assets/login-button-hover.png");
			}

			&:active {
				background-image: url("/assets/login-button-down.png");
			}
		}

		.response {
			font-family: effra, sans-serif;
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 50px;
			text-align: center;
		}

		.close {
			width: 60px;
			height: 60px;
			background: url("/assets/close-button.png");
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 0px;
			left: -80px;
			opacity: 0.5;
			border: 0px;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
