.settings-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	transform: translate(-50%, -50%);
	background: #555555;
	padding: 12px;

	.colors {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}

	.color {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin: 6px;
		cursor: pointer;
	}
}
