body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #2ecc71;
	font-family: Arial, sans-serif;
}

.app-container {
	text-align: center;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	max-width: 400px;
	width: 100%;
	position: relative;
}

#code {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #2ecc71;
	border-radius: 5px;
	box-sizing: border-box;
	resize: none;
	font-size: 14px;
}

#btn {
	background-color: #2ecc71;
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

#btn:hover {
	background-color: #27ae60;
}

#x {
	position: absolute;
	left: 17px;
	bottom: 30px;
	color: #2ecc71;
	text-decoration: none;
}

#output {
	margin-bottom: 7px;
}
