form {
    text-align: left;
}

/* form fieldset {
    border: none;
}

form fieldset label {
    display: block;
}

form input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
} */

.question {
    border-left: 1px solid;
    padding-left: 10px;
}