* {
	font-family: sans-serif;
}

body {
	max-width: 1200px;
	padding: 20px;
	margin: auto;
}

h1 {
	line-height: 1em;
}

input, button, textarea {
	padding: 5px;
	font-size: 17px;
	border: 1px solid gray;
}

form {
	line-height: 1em;
}

pre {
	background-color: whitesmoke;
	margin: 0;
	padding: 5px;
}

hr {
	border: 0;
	border-top: 1px solid gray;
}
