doctype html
html
    include ./common/head.pug
        title friendsbook
    body
        div.container.mt-2
            header
                h2 Successfully logged out
            content 
                include ./common/footer.pug
