.error {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid #841d1d;
    margin-bottom: 2.5rem;
    background-color: #f1f1f1;
}