body {
  font-family: 'Courier New', monospace;
  font-size: 20px;

  background-color: #eee;
  color: #111;
}

#latest-stuff {
  width: 100%;
  padding-bottom: 10px;
  border: 1px solid green;
}

#message {
  font-size: 24px;
  font-weight: bold;

  color: orange;
}

#username {
  font-size: 28px;
}

#stuff {
  font-size: 24px;
}

#mood {
  padding-left: 25px;
}

h3 {
  font-size: 24px;
  color: darkgreen;
}

input[type=text], select {
  font-size: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #fff;
  border-radius: 4px;
}

input[type=submit] {
  font-size: 20px;
  width: 100%;
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  font-size: 20px;
  background-color: darkgreen;
}
