h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

h2 {
    border: 2px #eee solid;
    color: rgb(50, 25, 177);
    text-align: center;
    padding: 20px;
}