<%- include("partials/header.ejs") %> 

<div class="container mid">
    <h1>Welcome to LameCompany's Message Board</h1>

    <div class="messages">
        <p>You need to log in to access your account.</p>
    </div>
</div>

<a href="/login"><button class="btn btn-primary">Login</button></a>

<%- include("partials/footer.ejs") %> 