:root {
    --ucf-metallic:#ba9b37;
    --ucf-primary:#ffc904;
    --nav-bkgd:#316aa7aa;
    --max-width:1280px;
    --nav-link-color:#fff;
    --border-radius:10px;
    --inp-bkgd:#a4bdd8;
    --table-bkgd:#7497bcaa;
    --bkgd-filter:blur(5px);
    --airline-black:#232323;
    --whitesmoke:whitesmoke;
}

* {
    transition:background .15s ease-in-out,opacity .15s ease-in-out,border-radius .15s ease-in-out;
}

@font-face {
    font-family:Molot;
    src:url(./Molot.otf);
}

html {
    position:relative;
    min-height:100%;
    font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

body {
    margin:0 0 190px;
    /* background:url(./bg.png); */
    background:url(./better_secure.png);
}

a {
    color:var(--ucf-metallic);
}

a:hover,button:hover {
    opacity:.8;
    cursor:pointer;
}

.tourist-title > img {
    height:10vw;
    max-height:60px;
}

h1,h2,h3,h4,h5,h6 {
    margin:0 5px;
}

.table-head,.table-footer,.table-buffer {
    border-radius:10px 10px 0 0;
    padding:15px;
    background:var(--ucf-primary);
    font-size:20px;
    width:calc(100% - 50px);
    margin:10px 10px 0;
}

.table-buffer {
    margin:0 10px;
    background:var(--airline-black);
    color:#fff;
    border-radius:0;
}

.table-footer {
    border-radius:0 0 10px 10px;
    background:var(--airline-black);
    height:0;
    margin:0 0 10px 10px;
    padding:3px 15px;
}

table {
    width:calc(100% - 20px);
    margin:0 10px;
    border-collapse:collapse;
    color:#fff;
    text-align:center;
    font-family:monospace;
}

tr:nth-child(even) {
    background:#323232;
}

td {
    padding:10px;
}

tr,thead {
    background-color:var(--airline-black);
}

thead {
    color:#fff;
    font-variant:small-caps;
    font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

td > a {
    color:var(--ucf-primary);
    text-decoration:none;
}

.card {
    background:var(--whitesmoke);
    background-size:contain;
    padding:10px;
    margin:10px;
    border-radius:var(--border-radius);
}

.card > .card-date {
    float:right;
    opacity:.5;
}

.card > .stamp {
    float:right;
    opacity:.85;
    height:50px;
}

.card > blockquote {
    opacity:.9;
    font-style:oblique;
    margin-left:15px;
}

.card.notification {
    z-index:99999999;
    position:fixed;
    top:60px;
    right:0;
    float:right;
    max-width:350px;
    box-shadow:0 3px 10px 0 rgba(0,0,0,0.3);
    opacity:.5;
}

.card.notification:hover {
    opacity:1;
}

.card.error > h3 {
    color:#d33;
}

input,select,button,.btn {
    border-radius:var(--border-radius);
    padding:8px;
    border:transparent;
    background:var(--inp-bkgd);
    margin:5px;
    text-decoration:none;
}

.btn,button {
    color:#000;
    text-align:center;
    font-weight:600;
    min-width:75px;
}

input:focus,select:focus {
    opacity:.8;
}

main {
    padding-top:80px;
    padding-bottom:30px;
    margin:0 auto;
    max-width:var(--max-width);
}

nav {
    background-color:var(--nav-bkgd);
    backdrop-filter:var(--bkgd-filter);
    -webkit-backdrop-filter:var(--bkgd-filter);
    height:60px;
    width:100%;
    position:fixed;
    z-index:1963;
}

nav > div {
    max-width:var(--max-width);
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}

nav > div > .left > a > .logo {
    height:50px;
    margin:7px 20px;
}

nav > div > .left {
    display:flex;
    height:60px;
}

nav > div > .right {
    text-align:right;
}

nav > div > div > a.nav-link {
    text-decoration:none;
    color:var(--nav-link-color);
    font-size:16px;
    margin:10px 7px;
    padding:10px 8px;
    display:inline-block;
}

nav > div > div > a.nav-link:hover {
    background:rgba(0,0,0,0.2);
    border-radius:var(--border-radius);
}

footer {
    position:absolute;
    bottom:1px;
    width:calc(100% - 40px);
    padding:20px;
    height:190px;
    margin-top:-65px;
    line-height:25px;
}

.beach {
    margin-left:-20px;
    position:absolute;
    z-index:-63;
}

footer > div {
    max-width:var(--max-width);
    margin:0 auto;
    padding-top:65px;
}

footer > div > div > b {
    font-size:18px;
}

footer a {
    color:#B99D37;
    font-weight:700;
}

.center,.tourist-title {
    text-align:center;
}

@media screen and (max-width: 900px) {
    nav > div,nav {
        display:block;
    }

    nav > div > .left,nav > div > .right {
        display:inline-block;
        white-space:nowrap;
        overflow-x:auto;
        overflow-y:hidden;
        width:100vw;
    }

    nav > div > .right {
        text-align:left;
    }

    nav {
        height:125px;
    }

    .modal-dialog.modal-dialog {
        top:125px;
        height:calc(100vh - 125px);
    }

    main {
        padding-top:145px;
    }

    .js-plotly-plot {
        display:none;
    }

    .modal-body.modal-body {
        height:calc(100vh - 140px);
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        display:none;
    }
}

.right {
    text-align:right;
}

.form-container {
    max-width:500px;
    margin:auto;
}

.form-container.wider {
    max-width:var(--max-width);
}

.round-bottom.round-bottom {
    border-radius:0 0 10px 10px;
}

.form-horizontal,.form-break,.passport-horizontal {
    background:var(--whitesmoke);
    padding:20px;
    display:grid;
    grid-gap:10px;
}

.form-horizontal {
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
}

.passport-horizontal {
    display:block;
}

.form-header {
    border-radius:10px 10px 0 0;
    background:var(--nav-bkgd);
    color:#fff;
    padding:15px;
    font-size:20px;
    margin-top:15px;
}

.form-footer {
    border-radius:0 0 10px 10px;
    background:var(--nav-bkgd);
    color:#fff;
    padding:15px;
    font-size:14px;
    height:40px;
}

.form-footer > div > .links > a {
    color:#fff;
    margin-top:7px;
    display:block;
    text-align:right;
}

.form-footer > div > .links {
    margin-top:-10px;
    float:right;
    width:max-content;
}

.form-horizontal > div > label {
    font-size:12px;
    display:block;
    text-transform:uppercase;
    opacity:.5;
}

.form-group {
    display:grid;
    width:100%;
}

#results.links {
    margin-top:-30px;
    color:#fff;
}

.row {
    max-width:1024px;
    margin:auto;
    padding:0 20px;
}

.grid {
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
}

.grid.grid-tight {
    grid-template-columns:repeat(auto-fill,minmax(120px,1fr));
}

.head-txt {
    font-size:28px;
    text-align:center;
    font-weight:700;
}

.passport-photo {
    float:left;
    max-width:150px;
    text-decoration:none;
}

.passport-photo.small {
    float:left;
    max-width:100px;
    margin:auto;
}

.oauth-badge {
    text-decoration:none;
    border-radius:6px;
    color:#fff;
    background:var(--nav-bkgd);
    padding:4px;
    font-size:12px;
    font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.team-label {
    color:var(--nav-bkgd);
    font-size:20px;
    font-weight:700;
    text-decoration:none;
}

.team-data > a,.team-data > div {
    margin:3px;
    display:inline-block;
}

.psp-image {
    border:#000 solid 5px;
    padding:8px;
    margin:5px;
    text-align:center;
}

.small > .psp-image {
    padding:5px;
    margin:3px;
}

.psp-image > img {
    width:100%;
    height:auto;
}

.user-label {
    font-size:22px;
    color:#000;
    font-weight:700;
    text-align:center;
    font-family:"Brush Script MT","Apple Chancery","Bradley Hand",cursive;
}

.anchor-right {
    float:right;
    text-align:right;
}

.force-badge {
    display:block;
    font-family:sans-serif;
}

.passport-horizontal > .grid {
    grid-template-columns:165px auto;
}

.passport-horizontal > .grid-two {
    grid-template-columns:auto;
}

.grid-two > graph-grid {
    grid-template-columns:auto auto;
}

.passport-horizontal > div {
    max-width:calc(100vw - 50px);
}

.passport-extended {
    width:100%;
}

.passport-extended > .grid {
    margin-top:10px;
}

.text-warn {
    margin:0;
    font-size:21px;
    color:red;
    font-weight:700;
}

.graph-grid {
    display:grid;
    height:250px;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
}

.graph-grid > .js-plotly-plot {
    height:250px;
}

.pielayer {
    transform:scale(1.3) translate(-40px,-40px);
}

.passport-extended > #score-graph {
    height:300px;
}

.stamp:not(img) {
    --stamp-color:var(--ucf-metallic);
    border-radius:50%;
    width:125px;
    height:125px;
    border:5px dashed var(--stamp-color);
    color:var(--stamp-color);
    overflow:hidden;
    text-align:center;
    margin:8px;
    padding:8px;
    display:grid;
    grid-template-rows:25px auto 25px;
    text-decoration:none;
}

.stamp.category-web {
    --stamp-color:#316AA7;
}

.stamp.category-pwn {
    --stamp-color:#a53030;
}

.stamp.category-forensics {
    --stamp-color:#9d30a5;
}

.stamp.category-reversing {
    --stamp-color:#30a55d;
}

.stamp.category-crypto {
    --stamp-color:#2d2b22;
}

.stamp.category-scripting {
    --stamp-color:#303da5;
}

.stamp.category-misc {
    --stamp-color:#a53063;
}

.stamp > p,.stamp > h4 {
    margin:0;
}

.stamp > p {
    text-transform:uppercase;
}

.stamp > h4 {
    font-size:25px;
    height:65px;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

.team-info > .oauth-badge {
    width:max-content;
}

.grey {
    opacity:.4;
}

.modal-dialog {
    z-index:1963;
    position:fixed;
    width:100vw;
    height:calc(100vh - 60px);
    background:rgba(0,0,0,0.7);
    backdrop-filter:var(--bkgd-filter);
    color:#fff;
    left:0;
    top:60px;
}

.modal-body {
    padding-top:20px;
    overflow-y:auto;
    height:calc(100vh - 80px);
}

.team-data,.team-info {
    text-align:center;
}

footer > div > .small {
    font-size:12px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --whitesmoke:#232323;
    }

    input,select {
        background:#333;
        color:white;
    }

    body {
        background:url(./bg-d.png);
    }

    body,.user-label {
        color:#fff;
    }

    .psp-image {
        border:#fff solid 5px;
    }

    footer > svg > g > path:first-child {
        fill:#75664A;
    }

    footer > svg > g > path:nth-child(2) {
        stroke:#594C33;
    }

    img.stamp {
        filter:invert(1);
    }

    .table-head.table-head {
        color:#000;
    }

    .gtitle {
        fill:#fff!important;
    }

    text {
        fill:#ddd!important;
    }
}