<!DOCTYPE HTML>
<html>
    <head>
        <title>ALL MY MOST VALUABLE SECRETS</title>
        <style>
            .bg{
                background-image: url("https://cdn.discordapp.com/avatars/829530293118697523/48f870d598a64e50b6955ba9822d0f6e.webp?size=256");
                background-repeat: repeat;
                opacity: 0.3;
                top: 0;
                left: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
                height: 300%; 
            }
            pre code {
                background-color: #eee;
                border: 1px solid #999;
                display: block;
                padding: 10px;
                font-size: 18px;
            }

            textarea {
            	width: 50%;
            	height: 400px;
                font-size: 18px;
            }
        </style> 
    </head>
    <body>
        <div class="bg"></div>
        <h3>MY SECRETS</h3>
        <p>Actually you know what, I don't actually have any secrets, but since you tried so hard, here is the flag <b><%= flag %></b> Congrats :D
    </body>
</html>
