        <ul>
            <li>Create your own päääds!</li>
            <li>Public or Private päääds for extra security.</li>
            <li>Temporary päääds expire after 3 minutes.</li>
            <li>Share your päääds with friends!</li>
            <li>Register now!</li>
        </ul>