<%- include("./partials/header.ejs") %>
<h1>Welcome to Formable</h1>
<h2>Login</h2>

<div class="container mid">
    <% if(err) { %> 
        <h3><%= err %></h3>
    <% } %> 
    
    <a href="/register">Register</a> instead?
    <form action="/login" method="POST" >
        <div class="mb-3">
            <label for="username">Username</label>
            <input class="form-control" name="username" type="text">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<footer>
<%- include("./partials/footer.ejs") %> 