#profile-image, .image-overlay {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0%;
    transition: .15s opacity;
    cursor: pointer;
}

.image-overlay::after {
    content: "Change Picture";
    position: relative;
    top: calc(74px - 5pt);
    font-size: 10pt;
    color: white;
}

.image-overlay:hover {
    opacity: 100%;
}

.file-chooser-label {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
