<%- include('header') %>

<p style="color: red; text-align: center;">Post not found, redirecting...</p>

<script>setTimeout(() => redirect_home('Post not found'), 1500)</script>

<%- include('footer') %>