<%- include('header') %>

<form method="POST">
    <div style="text-align: center; margin-top: 2em;">
        <input type="text" name="description" placeholder="description"
            style="width: 30%; height: 2em; text-align: center; margin-bottom: 1em;" />
        <br>
        <input type="url" name="imgurl" placeholder="image url" value="https://ptmd.m0lecon.it/img/pwnthem0le_logo.png"
            style="width: 30%; height: 2em; text-align: center; margin-bottom: 1em;" />
        <br>
        <button type="submit" style="width: 15%; height: 2em; text-align: center; margin-bottom: 1em;">Create</button>
    </div>
</form>

<%- include('footer') %>