


.clickable {
    cursor: pointer;
}

.form-control-file {
    display: none;
}

#msgbox {
    display: none;
}

.list-group{
    max-height: 350px;
}


.toppadding {
    padding-top: 20vh;
}

@media (max-width: 978px) {
    .toppadding {
        padding-top: 10vh;
    }
}

@media (max-width: 512px) {
    .toppadding {
        padding-top: 20px;
    }
}


button[type=submit]{
    min-width: 70px;
}

.button-group{
    min-width: fit-content;
}