<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>

<a href="/login" id="loginLink">Login</a>
<a href="/register" id="registerLink">Register</a>

</body>
</html>
