<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>

<script src="/static/login.js"></script>
Input your secret token to log in:
<input type="text" name="token" />
<button id="loginButton">login</button>

</body>
</html>
