div#container {height:500px;width:500px;}

div.flushed1 {
position:fixed; 
}
div.flushed2 {
position:fixed; 
}
div.flushed3 {
position:fixed; 
}
div.flushed4 {
position:fixed; 
}
div.flushed5 {
position:fixed; 
}
div.flushed6 {
position:fixed; 
}
div.flushed7 {
position:fixed; 
}
div.flushed8 {
position:fixed; 
}

