<%- include('../partials/header.ejs'); %>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-8 text-center">
            <h4>Search: </h4>
            <form action="/search" method="POST">
                <div class="input-group mt-3">
                    <span class="input-group-text">🔎</span>
                    <input class="form-control" type="text" placeholder="Search Query" name="query">
                    <button class="btn btn-light" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
<%- include('../partials/footer.ejs'); %>