content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.store-items {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  width: 30%;
  height: 30%;
}

.store-items button {
  aspect-ratio: 1/ 1;
  align-items: center;
  padding: 0px;
  text-align: center;
}

.store-items .camera-button {
  grid-row: 1;
  grid-column: 1;
}

.store-items .forward-button {
  grid-row: 1;
  grid-column: 2;
}

.store-items .shield-button {
  grid-row: 1;
  grid-column: 3;
}

.store-items .left-button {
  grid-row: 2;
  grid-column: 1;
}

.store-items .right-button {
  grid-row: 2;
  grid-column: 3;
}

.store-items .backward-button {
  grid-row: 3;
  grid-column: 2;
}

img.photo {
  width: 100%;
  max-width: 30em;
}
