<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Baby Client</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="/">Baby Client</a>
            <div class="d-xl-flex justify-content-xl-end">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/scan">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="alert alert-primary mb-4 mt-1 flash" role="primary" id="flash-info"></div>
        <div class="alert alert-danger mb-4 mt-1 flash" role="alert" id="flash-error"></div>
