body {
    margin: 0;
    padding: 5vh 5vw;
    background: black;
    overflow: hidden;
    font-family: monospace;
    font-weight: bold;
    color: limegreen;
    text-shadow: 0px 0px 10px limegreen;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}