<%- include('header') %>

<h5 class="my-4">Your template</h5>
<div class="card border-dark mx-auto col-lg-4 col-md-6 col-10 my-3">
    <div class="card-body text-dark">
      <p class="card-text"><%= template %></p>
    </div>
  </div>