<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{note.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{note.id}}</h6>
    <p class="card-text">{{note.content}}</p>
  </div>
</div>
