<div class="contanet box" id="coupon-<%= coupon.id %>">
	<p class="subtitle">Code: <code><%= coupon.code %></code></p>
	<p>Valid: <%= !!coupon.valid %></p>
	<p>Discount: <%= coupon.value %></p>
</div>
