<p>
    Welcome to the automated RISC-V coding assignment evaluation tool of the daring digitization delinquents.
</p>

<p>
    By using this tool, you will learn to write the best exploits for hacking Dasdorf!
    Why don't start trying to solve some of the tasks below?
</p>

<ul>
    <li><a href="/getting-started">Getting Started</a></li>
    <li><a href="/add">Add</a></li>
    <li><a href="/multiply">Multiply</a></li>
    <li><a href="/by-five">By Five?</a></li>
</ul>

{{> tool-intro}}
