body {
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: 3rem;
}

.mid {
    width: 500px;
    padding: 50px 0;
}

.messages {
    padding: 40px 0;
    text-align: left;
}

form {
    text-align: left;
}