<!DOCTYPE HTML>
<html>
    <head>
        <title>EYANGCH Fan Art Maker <3</title>
        <style>
            .bg{
                background-image: url("https://cdn.discordapp.com/avatars/622575440305061910/e0fa5d8c91cc24f83af648736072d330.webp?size=256");
                background-repeat: repeat;
                opacity: 0.3;
                top: 0;
                left: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
                height: 300%; 
            }
            pre code {
                background-color: #eee;
                border: 1px solid #999;
                display: block;
                padding: 10px;
                font-size: 18px;
            }

            textarea {
            	width: 50%;
            	height: 400px;
                font-size: 18px;
            }
        </style> 
    </head>
    <body>
        <div class="bg"></div>
        <h1>EYANG OTZ OTZ OTZ!!! 💖💖💖</h1>
        <img src="data:image/png;base64, <%= img %>"></body>
    </body>
    <% if(rick) { %>
    <script type="text/javascript">
        alert("How dare you make an error on the EYANG FAN ART!");
        window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley";
    </script>
    <% } %>
</html>
