$white: rgb(245, 245, 245);
$black: rgb(10, 10, 10);
$yellow: rgb(255,245,157);

$pure-orange: rgb(231, 126, 49);
$pure-purple: rgb(214, 177, 250);
$pure-indigo: rgb(58, 141, 206);
$pure-green: rgb(216, 236, 171);
$pure-red: rgb(235, 174, 161);
$pure-light: rgb(230, 230, 230);
$pure-black: rgb(51, 51, 51);

$mat-light: rgb(245,245,245);
$mat-black: rgb(33,33,33);
$mat-purple: rgb(126,87,194);
$mat-blue: rgb(25,118,210);