<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>BEWARE your coin</h1>
            <p>youngcha~ youngcha~ </p>
        </div>
</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>