.upsert-playlist-panel {
	.form {
		width: 100%;
		max-width: 400px;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
		gap: 8px;

		.input {
			font-family: inherit;
		}

		.submit {
			font-family: inherit;
			align-self: center;
			min-width: 100px;
		}
	}
}
