<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bookstore</title>
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link rel="stylesheet" href="assets/rpgui.min.css">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <div class="rpgui-content rpgui-cursor-default">
        <div id="container">
            <div id="main"></div>
            <div class="inner rpgui-container framed-golden" style="position:relative">
                <header>
                    <h2>Please Login</h2>
                </header>
                <div class="rpgui-center" style="position:relative">
                    <form action="/login" method="post" id="loginForm">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </form>

                    <button type="submit" form="loginForm" value="login" class="rpgui-button">Login</button>

                    <% if (message) { %>
                        <p>
                            <%= message %>
                        </p>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/rpgui.min.js"></script>
</body>

</html>