
<!DOCTYPE html>
<html>
<head>
	<title>LITCTF CTF | Login</title>

	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./main.css">


	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
		<a class="mb-0 h1 navbar-brand active" href="./">LITCTF CTF</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="./">Main</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./profile">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./rules">Rules</a>
			</li>
			</ul>
		</div>
	</nav>

	<div class="main-container">
		<div class="whiteContainer" style="font-size: 21px;margin-top :120px;">
			<form action="/login" method="POST">
				<h1>Login</h1>
				<hr>
				<label for="username"><b>Username</b></label>
				<input type="text" class="form-control" name="username" placeholder="Enter your username">
				<br>
				<label for="password"><b>Password</b></label>
				<input type="password" class="form-control" name="password" placeholder="Enter your password">
				<br>
				<input type="submit" class="btn btn-primary" value="Log In"></input><br>
				<a href="register" style="font-size: 15px;">Don't have an account?</a>
			</form>
		</div>
	</div>

</body>
</html>