<%- include('header') %>

<form method="POST">
    <div style="text-align: center; margin-top: 2em;">
        <input type="password" name="password" placeholder="password" id="password"
            style="width: 30%; height: 2em; text-align: center; margin-bottom: 1em;" />
        <br>
        <button type="submit" id="submit"
            style="width: 15%; height: 2em; text-align: center; margin-bottom: 1em;">Login</button>
    </div>
</form>

<%- include('footer') %>