<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
              <h1>Workspace</h1>
              <p class="lead">Make your page!</p>
            </div>
      
            <div>
                <div>
                    <input type="text" class="form-control" id="title" placeholder="nonamed">
                </div>
                <div>
                    <textarea class="form-control" rows="10" placeholder="Hello World :)" id="contents"></textarea>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary form-control" id="make">Make</button>
                </div>
            </div>
        </div>
        <script>
            $('#make').click(()=>{
                let contents = $('#contents').val();
                let filename = $('#title').val();
                let data = {
                    contents,
                    filename
                };
                let options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                };
                fetch(location.pathname, options).then(res=>res.json()).then((res)=>{
                    if(res.result === true){
                        location.href=res.path;
                    } else {
                        alert('Failed.');
                    }
                });
            });
        </script>
    </body>
</html>
