body,
input,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h3 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	padding: 15px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
}

textarea {
	min-width: 50vw;
	min-height: 25vw;
	align-self: stretch;
	border-radius: 5px;
}

textarea,
input {
	padding: 5px;
}

input[type="color"] {
	padding: 0;
	border: 0;
	height: 2em;
	width: 2em;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
	border-radius: 5px;
}

input[type="number"] {
	width: 5ch;
}
label {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}
