<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Path traversal 101</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link
            href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
            rel="stylesheet"
            type="text/css" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css" />
        <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
    </head>
    <body>
        <section class="hero">
            <div class="hero-body">
                <p class="title">
                    01001000 01100101 01101100 01101100 01101111 00100000
                    01100100 01100101 01100001 01110010 00100000 01110010
                    01101111 01100010 01101111 00101101 01100110 01110010
                    01101001 01100101 01101110 01100100 00100001 00100000
                    01001000 01100101 01110010 01100101 00100000 01101001
                    01110011 00100000 01110100 01101000 01100101 00100000
                    01100110 01101001 01110010 01110011 01110100 00100000
                    01110100 01100001 01110011 01101011 00100000 01100110
                    01101111 01110010 00100000 01111001 01101111 01110101
                    00100000 00111010 00101001
                </p>
                <p class="subtitle"></p>
                <pre><code class="language-javascript"><%= task %></code></pre>
                <form class="form" action="/🤖" method="POST">
                    <div class="field">
                        <label class="label">Can you get the /flag?</label>
                        <div class="control">
                            <input
                                class="input"
                                name="solution"
                                type="text"
                                placeholder="/flag" />
                        </div>
                        <br />
                        <div class="control">
                            <input
                                type="submit"
                                class="button is-primary"
                                value="Submit" />
                        </div>
                    </div>
                </form>
                <p>11110000 10011111 10100100 10010110</p>
            </div>
        </section>
    </body>
    <script>
        hljs.highlightAll();
    </script>
</html>
