<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Path traversal 101</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link
            href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
            rel="stylesheet"
            type="text/css" />
    </head>
    <body>
        <section class="hero">
            <div class="hero-body">
                <p class="title">WARNING</p>
                <p class="subtitle">
                    01010100 01001000 01000101 00100000 01000110 01001111
                    01001100 01001100 01001111 01010111 01001001 01001110
                    01000111 00100000 01010011 01001001 01010100 01000101
                    00100000 01001001 01010011 00100000 01001111 01001110
                    01001100 01011001 00100000 01000001 01010110 01000001
                    01001001 01001100 01000001 01000010 01001100 01000101
                    00100000 01000110 01001111 01010010 00100000 01010010
                    01001111 01000010 01001111 01010100 01010011 00100000
                    01000001 01001110 01000100 00100000 01010010 01001111
                    01000010 01001111 01010100 01010011 00100000 01001111
                    01001110 01001100 01011001
                </p>
                <p><%= error %></p>
            </div>
        </section>
    </body>
</html>
