body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #333;
    text-align: left;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ca0700;
    font-weight: bold;
    color: #fff;
}

#th-left {
    border-radius: 10px 0 0 0;
}

#th-right {
    border-radius: 0 10px 0 0;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.heading {
    vertical-align:middle;
}

.heading > * {
    display: inline-block;
    vertical-align: middle;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.email-details {
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.email-details h1 {
    margin: 0;
    background-color: #ca0700;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.email-details p {
    color: #333;
    line-height: 1.5;
    font-size: 16px;
    margin: 20px;
}

#close-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}