<center>
<h1 class="title">Diff Checker</h1>
<ul>Enter two links and see the difference!</ul>
</br>
<form id="diff-form" action="/diff" method="POST">
<input id="url1" placeholder="http://example.com" name="url1"></input>
<input id="url2" placeholder="http://example2.com" name="url2"></input>
<input type="submit" value="Go!"></input>
</form>
</center>