doctype html
html
    include ./common/head.pug
        title friendsbook
    body
        div.container.mt-2
            header
                h2 Register
            content 
                include ./forms/register.pug
            include ./common/footer.pug
