                <% if(typeof errors != 'undefined'){ %>
                    <% errors.forEach(function(err){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= err.msg %>
                        </div>
                    <% }) %>
                <% } %>
                <% if(message.success){ %>
                    <div class="alert alert-success" role="alert">
                        <%= message.success %>
                    </div>
                <%} %>
                <% if(message.danger){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= message.danger %>
                    </div>
                <%} %>