<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <title>DNU Financial Aid</title>
        <link href="/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
	<body class="min-h-full flex flex-col">
		<div class="px-4 py-2 flex flex-col flex-grow items-center bg-black">
            <div class="w-full h-full flex flex-col justify-center items-center">
                <div class="flex flex-col justify-center items-center">
                    <div class="bg-gradient-to-tr from-purple-300 to-rose-200 px-6 py-4 mb-8 rounded-2xl flex flex-col items-center justify-center" style="width: 500px;">
                        <img src="/imgs/logo.png" class="mb-2" style="height: 150px">
                        <div class="text-3xl font-bold">DNU Financial Aid Center</div>
                    </div>
                    <div class="bg-gradient-to-tr from-purple-300 to-rose-200 px-6 pt-3 pb-3 rounded-2xl flex flex-col justify-center" style="width: 500px;">
                        <div class="text-3xl font-bold mb-2">
                            <%=locals.login ? 'Sign In' : 'Register' %>
                        </div>
                        <% if (locals.login) { %>
                        <div class="w-full pb-1">
                            Please remember that freshmen decisions are getting released on May 17, 5 PM EDT! Before then, financial aid offers, even to accepted students, will not be shown.
                        </div>
                        <% } %>
                        <form action="<%=locals.login ? '/login' : '/register' %>" method="post" class="pb-0 mb-0">
                            <div class="w-full pb-1 font-semibold">
                                Username
                            </div>
                            <div class="w-full">
                                <input type="text" autocomplete="off" name="username" class="w-full rounded-lg px-4 py-2">
                            </div>
                            <div class="w-full pb-1 mt-3 font-semibold">
                                Password
                            </div>
                            <div class="w-full">
                                <input type="password" autocomplete="off" name="password" class="w-full rounded-lg px-4 py-2">
                            </div>
                            <div class="w-full mt-6">
                                <button type="submit" class="w-full bg-blue-700 text-white py-2 rounded-2xl">Sign In</button>
                            </div>
                            <% if (locals.error) { %>
                            <div class="w-full text-center mt-2 text-red-700 font-bold">
                                <%=locals.error%>
                            </div>
                            <% } %>
                            <div class="w-full text-center mt-2 text-blue-700 underline">
                                <% if (locals.login) { %>
                                    <a href="/register">Don't have an account? Register here</a>
                                <% } else { %>
                                    <a href="/">Already have an account? Login here</a>
                                <% } %>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
