<br></br>
<br></br>
<style>
div {
    background-image: url('sparta.jpg');
}
</style> 
<link rel="stylesheet" href="login.css">
<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>

<div class="container">
<div class="header">
  <h1>Sign in to your account below:</h1>
</div>

<form name="loginEmail" onsubmit="return validateForm();" method="post">
  
<ul>
<li style="color:#00FFFF"><b>USERNAME:</b><input class="username" type="text" name="username">
</li>   
<li style="color:#00FFFF"><b>PASSWORD:</b><input class="password" type="text" name="password">
 </li>
</ul>
  
<input class="submit" type="submit" style="color:#FFC000" value="SUBMIT">
  
</form>
<h5 style="color:blue">Don't have access? <a href="/guest">Login as guest</a></h5>
  </div>
