                    <ul>
                        <li>Bookmark your favorite links</li>
                        <li>Secure links only</li>
                        <li>Secure redirects</li>
                        <li>This is great</li>
                        <li>Register now!</li>
                    </ul>