<!DOCTYPE html>
<html>

<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <br><br>
        <input type="password" name="password" placeholder="password">
        <br><br>
        <input type="text" name="profile" placeholder="profile">
        <br><br>
        <input type="hidden" name="csrf" value="<%=csrf%>">
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href='/login'>Login</a>
</body>

</html>