<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
    </head>

    <body>
        <center>
            <form method="post" action="/login">
                <p>
                    <label>username:</label> <input type="text" id="username" name="username">
                </p>
                <p>
                    <label>password:</label> <input type="password" id="password" name="password">
                </p>
                <p>
                    <button type="submit" id="btn-login">login</button>
                </p>
            </form>
            <div style="color: red;">
                <% if(locals.error) { %>
                    <p><%= error %></p>
                <% } %>
            </div>
        </center>
    </body>
</html>