body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    width: 80%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    color: #333;
}

#statusMessage {
    margin: 20px 0;
    color: #555;
}

#articleSelector {
    margin: 20px 0;
}

select {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

#articles {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}
