<%- include('header') %>

<h3>You can report a suspicious URL, our admin will check it!</h3>
<form id="formurl" class="form-group" method="POST">
    <input id="url" class="form-control my-2" type="url" name="url" placeholder="http://..."/>
    <button id="submit" class="btn btn-dark w-100 my-2" type="submit">Report</button>
</form>
