<%- include('header') %>


<h3 class="my-4">Edit your profile</h3>

<form method="post" class="my-2 col-6 mx-auto text-left">
  
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= profile.desc %></textarea>
    </div>


    <div class="form-check form-switch col-6 mx-auto">
        <input class="form-check-input" type="checkbox" value="true" id="flexSwitchCheckChecked"  name="private" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Private</label>
      </div>


    <button class="btn btn-primary my-3">Submit</button>
</form>
