<%- include('header') %>

<form class="form-group" method="POST">
    <input id="username" class="form-control my-2" name="username" placeholder="Username"/>
    <input id="password" class="form-control my-2" type="password" name="password" placeholder="Password"/>
    <button id="submit" class="btn btn-dark w-100 my-2" type="submit">Login</button>
</form>