<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user - <%= chall_name %></title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <h1>Delete user</h1>
    <% if (flash) { %>
    <div class="error"><%= flash %></div>
    <% } %>
    <p>Are you really sure to delete <code><%= username %></code>?</p>
    <form method="post">
        <input type="submit" value="Yes, I understand the consequences and want to delete this account">
    </form>
</body>
</html>