html,
body {
    height: 100%;
    font-family: "Englebert", Verdana, sans-serif;
}
body {
    font-size: 10px;
    margin: auto;
    overflow-y: hidden;
}

div.header {
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    background: #2d2d2d;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
div.header ul.nav {
    overflow: hidden;
}
div.header ul.nav li {
    float: left;
    margin: 0 10px;
}
div.header ul.nav li:first-child {
    margin-left: 125px;
}
div.header ul.nav li a {
    display: block;
    padding: 0 10px;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 2.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #000000;
    color: #e5e5e5;
}

.introduction {
    background-image: url("/static/images/white_wall.png");
    background-color: #526b22;
    height: 100%;
}

.section {
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: "Englebert", Verdana, sans-serif;
    font-size: 3em;
    letter-spacing: 0.05em;
    text-align: center;
}

.section-main {
    font-size: 4em;
    font-weight: bold;
}
