<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>you only live once.</title>

    <style nonce="<%- nonce %>">
        #main {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        body {
            height: 100vh;
            margin: 0;
        }

    </style>
</head>

<body>
    <div id="main">
        <div>
            <h1>you only live once.</h1>

            <p>do something with that.</p>

            <br>

            <form method="post">
                <h2>what will <strong>you</strong> do?</h2>
                <input type="text" name="name" id="name" placeholder="your name">
                <input type="text" name="toDo" id="toDo" placeholder="will do...">
                <input type="submit" value="submit" id="submit">
            </form>
        </div>
    </div>
</body>

</html>
