<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewy</title>
</head>

<body>
    <h1>viewy</h1>
    give us your view and we'll render it!
    <br>
    <br>
    <form action="/" method="POST">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">submit</button>
    </form>
</body>

</html>
