<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
    <script src="/custom.js"></script>
    <script src="https://cdn.embedly.com/widgets/platform.js"></script>
</head>
<body class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Build a Panel
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/create">Create</a></li>
                    <li><a href="/panel/edit">Edit</a></li>
                </ul>
            </div>
        
        </div>
    </nav>
            
    <main>
        <div class="row">  
            <div class="jumbotron">
                <h2>Your widgets</h2>
            </div>
        </div>
    </main>

    <div id="widget-panel">
    </div>

    <blockquote class="reddit-card">
        <a href="https://www.reddit.com/r/memes/comments/cg8smk/a_meme_about_blank_pages/"></a>
    </blockquote>
</body>
</html>