<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" nonce="{{nonce}}">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" nonce="{{nonce}}" />
    <!-- Alex only likes Chrome. All FireFox users should get out of here! -->
</head>

<body>
  <center>
  <section class="nes-container is-dark">
    <section class="message-list">
        <section class="message -left">
          <i class="nes-bcrikko"></i>
          <div class="nes-balloon from-left is-dark">
            <p>Hi, Only Alex can LogIn</p>
          </div>
        </section>
  </center>
  <center>
    <img src="kirby-pink.gif">
  </center>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="script.js"></script>
</body>
</html>