extends layout

block title
  | Edit Note

block content
  form.form(action=`/notes/${note.id}/edit`, method='POST')
    input(type='hidden', name='_csrf', value=csrfToken)
    div.mb-3
      input.form-control(type='text', name='title', placeholder='Title', value=note.title)
    div.mb-3
      textarea.form-control(name='content', placeholder='Content', rows=20) #{note.content}
    div.mb-3
      div.form-check
        input.form-check-input(name='favourite', type='checkbox', id='favourite', checked=!!note.favourite)
        label.form-check-label(for='favourite') Favourite
    div.mb-3
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Update
