

/* Notifications Styles */
.notifications {
    margin-top: 20px;
}

#preview {
    -webkit-mask-image: linear-gradient(to right, rgba(100, 100, 100, 0.8), rgba(100, 100, 100, 0.0));
    padding: 10px;
    margin: 0;
    font-size: 12px;
}1
